.root {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 125px;
    padding: 15px;
    border-radius: 25px;

    .search {
        display: flex;
        justify-content: space-between;
    }

    .search-btn {
        padding: 8px 15px;
        background-color: orange;
        border: none;
        color: black;
        font-weight: bold;
        margin-left: 15px;
        border-radius: 15px;
        font-size: 16px;
    }

    .search-form {
        border: none;
        width: 1000px;
        font-size: 16px;
    }

    .search-form:focus {
        box-shadow: none;
    }

    .most-viewed-tags {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .viewed-tags-items {
        background: rgba($color: gray, $alpha: 0.3);
        padding: 5px 10px;
        border-radius: 5px;
        color: rgba($color: #000000, $alpha: 0.6);
    }
}
