.root {
    max-width: 1280px;
    margin: 100px auto;
    padding: 10px;

    .posts {
        padding: 25px;
        background-color: gray;
        border-radius: 15px;
    }

    .profile {
        border-radius: 15px;
        padding: 25px;
        max-height: 200px;
    }

    .profile-text {
        font-size: 16px;
        padding-right: 10px;
    }

    input {
        flex: none;
        padding: 10px;
        font-size: 16px;
        border: none;
        background-color: white;

        border-radius: 8px;
        outline: 0;
        margin: 10px 0;
    }

    input:focus {
        outline: 1px solid orange;
    }
}
